<a href="https://colab.research.google.com/github/revathygopinath/Online-Course-Sales-Analytics-PowerBI/blob/main/Python_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DAY 1 - Basics, Loops, Numbers

In [ ]:
## Factorial using for loop
n = int(input("enter the number: "))
fact=1
for i in range(1,n+1):
  fact =fact*i
print(fact)

enter the number: 1
1

In [ ]:
## Factorial using while loop
n = int(input('enter the num: '))
i =1
fact=1
while  i<=n:
  fact=fact*i
  i=i+1
print(fact)

In [ ]:
## Factorial using Function
## Recursive means a function calls itself in order to solve a problem.
def fact(n):
    if n<0:
      return "factorial is not defined for negative numbers"
    elif n==0 or n==1:
      return 1
    else:
      return n*fact(n-1)

In [ ]:
#Write a Python program using recursion to find the nth Fibonacci number

def fibo(n):
    if n <= 0:
        return "Fibonacci not defined"
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

In [ ]:
fibo(5)

3

In [ ]:
# Print the entire Fibonacci sequence up to n terms using recursion:

def fibo(n):
  if n<=0:
    return []
  elif n==1:
    return [0]
  elif n==2:
    return [0,1]
  fibo_seq =[0,1]

  for i in range(3,n+1):
    fibo_seq.append(fibo_seq[-1]+fibo_seq[-2])
  return fibo_seq

In [ ]:
print(fibo(3))

1

In [ ]:
# Sum of n natural numbers using for loop
n = int(input("enter the number: "))
sum=0
for i in range(1,n):
  return (n(n+1))/2
print(sum)

enter the number: 5

SyntaxError: 'return' outside function (ipython-input-2455428126.py, line 5)

In [ ]:
# Sum of n natural numbers using for loop
## You can’t use return inside a for loop unless you are inside a function.
#The formula (n(n+1))/2 is fine, but you wrote it incorrectly (should be n * (n+1) // 2).
#If you want to use a loop, you should add numbers one by one instead of directly using the formula.

n = int(input("enter the number: "))
sum=0
for i in range(1,n+1):
  sum =i+sum
print(sum)

enter the number: 5
15

In [ ]:
# Sum of n natural numbers using While loop
n = int(input("enter the number: "))
sum =0
i=1
while i<=n:
  sum = sum+i
  i=i+1
print(sum)

enter the number: 5
15

In [ ]:
# Sum of n natural numbers using Using loop inside function
def sum(n):
  sum=0
  for i in range(1,n+1):
    sum =sum+i
  return sum

print(sum(5))

15

In [ ]:
# Method 1: Using formula inside function
def sum1(n):
  return n*(n+1)//2
print(sum1(5))

15

In [ ]:
#Recursion → if/else base case + function calls itself
#Loop → for / while
#Formula → direct shortcut equation

In [ ]:
# sum using recursive
def sum2(n):
  if n<=0:
    return 0
  else:
    return n*(n+1)//2

sum2(5)

15

In [ ]:
# Write a simple python pgm to check a string palindrom or not


string =input("enter the string: ")
if string ==string[::-1]:
  print("string is a palindrome")
else:
  print("string is not a palindrome")

enter the string: revu
string is not a palindrome

In [ ]:
# Check a number is palindrom or not

number = input("enter the number: ")
num_str =str(number)
if num_str ==num_str[::-1]:
  print("the number is palindrome")
else:
  print("the number is not a palindrome")

enter the number: 121
the number is palindrome

In [ ]:
# Write a Python program to reverse a given integer.
#521%10-----> output as 1, (to get the last digit)
#520//10----> output as 52, (to remove the last digit)

"""Extract the last digit with n % 10.

Add it to the reversed number (shift left with rev * 10).

Remove last digit using n // 10.

Repeat until number becomes 0."""

In [ ]:
def reverse_int_iter(n):
    rev = 0
    while n > 0:
        digit = n % 10        # get last digit
        rev = rev * 10 + digit  # build reversed number
        n //= 10              # remove last digit
    return rev

# Example
print(reverse_int_iter(1234))   # 4321
print(reverse_int_iter(100))    # 1

4321
1

In [ ]:
5%10

5

In [ ]:
5//10

0

In [ ]:
import math

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):  # check up to √n
        if n % i == 0:
            return False
    return True

# Example usage
print(is_prime(7))   # True (prime)
print(is_prime(10))  # False (not prime)

True
False

In [ ]:
is_prime(5)

'n is a prime'

Day 2 - Strings

In [ ]:
# Strings are immutable → once created, you cannot change a character directly.

s ="hello"

#Indexing
s[0] #---->Will print "h"
s[-1] # ----> will print last chara

'o'

In [ ]:
# Slicing

s[1:4] #---> Will print chara from 1st to 3rd
s[:4]

s[2:]

s[::-1]

'olleh'

In [ ]:
txt = "  Data Science  "

txt.upper()

'  DATA SCIENCE  '

In [ ]:
txt.lower()

'  data science  '

In [ ]:
txt.title()

'  Data Science  '

In [ ]:
txt.capitalize()

'  data science  '

In [ ]:
txt.strip()  # To remove space

'Data Science'

In [ ]:
txt.lstrip()  # to remove left space

'Data Science  '

In [ ]:
txt.rstrip() #to remove right space

In [ ]:
txt.split()

['Data', 'Science']

In [ ]:
join = "-".join(txt)
print(join)

 - -D-a-t-a- -S-c-i-e-n-c-e- -

In [ ]:
txt.find("Data")

2

In [ ]:
txt.replace("Data", "Data1")

'  Data1 Science  '

In [ ]:
for i in "hello":
  print(i)

h
e
l
l
o

In [ ]:
s = "Revathy"
s.count("a")

1

In [ ]:
s.startswith("R")

True

In [ ]:
s.endswith("Y")

False

In [ ]:
# writing a small program to reverse your own name (or any word) using at least two methods from above.

n = "Revathy"
reversed = n[::-1]
print(reversed)

yhtaveR

In [ ]:
# Write a Python program to check if a given string is a palindrome or not.

name ="Madam"

def palindrome(name):
   name =name.lower()
   if name == name[::-1]:
     print("name is a palindrome")
   else:
    print("name is not a palindrome")
palindrome(name)

name is a palindrome

In [ ]:
# Write a Python program that counts the number of vowels and consonants in a given string.

name ="Revathy"

def count_vowels_consonants(name):
  words = name.lower()
  vowels ="aeiou"
  vowel_count =0
  consonant_count =0

  for i in words:
    if i in vowels:
      vowel_count = vowel_count+1
    else:
      consonant_count = consonant_count +1

  return vowel_count, consonant_count

vowels, consonants = count_vowels_consonants(name)

print("vowels :",vowels)
print("consonants:",consonants)

vowels : 2
consonants: 5

In [ ]:
s = "programming"
def remove_duplicates(s):
    seen = set()
    result = []
    for i in s:
        if i not in seen:
            seen.add(i)
            result.append(i)
    return "".join(result)

In [ ]:
remove_duplicates(s)

'progamin'

In [ ]:
# Find the longest word in a sentence.

def longest_word(sent):
  words =sent.split()
  longest =""
  for i in words:
    if len(i)>len(longest):
      longest = i
  return longest

In [ ]:
longest_word(" I LOVE NLP")

'LOVE'

Day 3 - Lists
---
A list in Python is an ordered, mutable collection.
You can store different types (int, float, string, even lists inside lists).

In [ ]:
numbers =[1,2,5.5,6,"Hello",[2,3]]
print(numbers)

[1, 2, 5.5, 6, 'Hello', [2, 3]]

In [ ]:
# append(x) → adds an element at the end

numbers.append(5)
print(numbers)

[1, 2, 5.5, 6, 'Hello', [2, 3], 5]

In [ ]:
#extend(iterable) → adds multiple elements at the end
numbers.extend([1,2])
print(numbers)

[1, 2, 5.5, 6, 'Hello', [2, 3], 5, 1, 2]

In [ ]:
#insert(index, value) → insert at a specific position

numbers.insert(1,5)
print(numbers)

[1, 5, 2, 5.5, 6, 'Hello', [2, 3], 5, 1, 2]

In [ ]:
#remove(value) → removes the first matching element

numbers.remove(5)
print(numbers)

[1, 2, 5.5, 6, 'Hello', [2, 3], 5, 1, 2]

In [ ]:
#pop(index) → removes and returns element at index (default last)
num = [10, 20, 30,40,50]
num.pop()
print(num)

[10, 20, 30, 40]

In [ ]:
num.pop(2)
print(num)

[10, 20, 40]

In [ ]:
#index(value) → returns index of first occurrence

num.index(40)

2

In [ ]:
#count(value) → count occurrences

num =[1,2,2,3,5,5]

num.count(5)

2

In [ ]:
# sort() → sorts the list in-place
num =[1,5,8,2,3,9]
num.sort()
print(num)

[1, 2, 3, 5, 8, 9]

In [ ]:
#reverse() → reverses in-place

num =[5,1,2,6,8,8]
num.reverse()
print(num)

[8, 8, 6, 2, 1, 5]

Like strings, but lists are mutable (can change values):

In [ ]:
nums = [10, 20, 30, 40, 50]
print(nums[1:4])
print(nums[::-1])

[20, 30, 40]
[50, 40, 30, 20, 10]

In [ ]:
# Find the largest & smallest element in a list.

n =list(map(int,input("enter the number").split()))
largest =n[0]
smallest =n[0]

for i in n:
  if i>n[0]:
    largest =i
  if i<n[0]:
    smallest=i

print(f'largest', largest)
print(f'smallest', smallest)

enter the number1 4 5 6
largest 6
smallest 1

In [ ]:
n =list(map(int,input("enter the number").split()))

print(max(n))
print(min(n))

enter the number1 2 7 9
9
1

In [ ]:
# 2.	Second largest element
n = list(map(int,input("enter the list: ").split()))

unique_n = list(set(n))

if len(unique_n)<2:
  print("there is no 2nd largest element")

else:
  unique_n.sort(reverse =True)
  print(f'The 2nd largest number is:',unique_n[1])

enter the list: 1 2 3 4
The 2nd largest number is: 3

In [ ]:
#3.	Reverse a list without using [::-1]

n = list(map(int,input("enter the list:").split()))
n.reverse()
print(n)

enter the list:1 8 9 7
[7, 9, 8, 1]

In [ ]:
nums = list(map(int, input("Enter numbers separated by spaces: ").split()))

start = 0 #---Indicated index position
end = len(nums) - 1 #---Indicated index position

while start < end:
    nums[start], nums[end] = nums[end], nums[start]   # swap
    start += 1
    end -= 1

print("Reversed List:", nums)

Enter numbers separated by spaces: 1 5 8 9 6
Reversed List: [6, 9, 8, 5, 1]

In [ ]:
# 4.	Remove duplicates

n =list(map(int,input("enter the list ").split()))

unique =[] # Empty list

for i in n:
  if i not in unique:
    unique.append(i)
print(f'unique :', unique)

enter the list 1 2 5 8 8 9 1
unique : [1, 2, 5, 8, 9]

In [ ]:
# Count frequency of elements


nums = list(map(int, input("Enter numbers separated by spaces: ").split()))

frequency = {}   # dictionary to store element:count

for i in nums:
    if i in frequency:
        frequency[i] += 1   # increase count if already present
    else:
        frequency[i] = 1    # first time, set count = 1

print("Frequency of elements:", frequency)

Enter numbers separated by spaces: 1 2 5 8  8
Frequency of elements: {1: 1, 2: 1, 5: 1, 8: 2}

In [ ]:
#Q1. Factorials & Prime Mix

'''Write a function that takes a number n and:

Returns factorial of n if it is prime

Returns sum of digits of n if it is not prime'''



n = int(input("enter the number: "))

def fact_prime(n):
  if

Day 4 Tuples & Sets

In [ ]:
#   A tuple is like a list but immutable (cannot be changed after creation).
my_tuple = (1, 2, 3)
# can access elements with indexing, but you cannot modify them.
my_tuple[0]

1

my_tuple[0] = 100 → ❌ Error! (cannot modify)


You can read or slice, just cannot assign new values.

In [ ]:
#my_tuple[0] = 100 → ❌ Error! (cannot modify)

#You can read or slice, just cannot assign new values.

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[1:4])

(20, 30, 40)

Why Tuples?
Faster than lists.
Used when you want read-only data.
Tuples are immutable
Once a tuple is created, you cannot modify, add, or delete its elements.
This guarantees that the data stays unchanged throughout your program.
Use-case in real-world / Data Science:
When you want to store constants or fixed data like:
Coordinates of a point (x, y)Model parameters (learning_rate, epochs)
Days of the week ("Mon", "Tue", "Wed", ...)
Using a list here would allow accidental modification. Tuples prevent that.

Key Interview Tip:

Tuple = safe, read-only collection

List = mutable, changeable collection

#Always use a tuple when the data should not change, especially in functions returning multiple values or as keys in dictionaries.

In [ ]:
# Sets
#A set is an unordered collection of unique elements.

my_set = {1, 2, 3, 4}

#✅ Automatically removes duplicates.

#✅ Good for membership checks (in is very fast).

mportant Set Operations

Union (| or union()) → Combines all elements (no duplicates).

Intersection (& or intersection()) → Common elements.

Difference (- or difference()) → Elements in one set but not the other.

Symmetric Difference (^ or symmetric_difference()) → Elements in either set, but not both.

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)   # {1, 2, 3, 4, 5}  (union)
print(a & b)   # {3}              (intersection)
print(b - a)   # {1, 2}           (difference)
print(a ^ b)   # {1, 2, 4, 5}     (symmetric difference)

{1, 2, 3, 4, 5}
{3}
{4, 5}
{1, 2, 4, 5}

In [ ]:
#. Convert list to tuple

lst =[1,2,3,4]
my_tpl =tuple(lst)
print(type(my_tpl))

<class 'tuple'>

In [ ]:
#. Find common elements in two sets
a ={1,2,3,4,5}
b ={5,4,2,7,1}
print(a&b)

{1, 2, 4, 5}

In [ ]:
a & b

{1, 2, 4, 5}

In [ ]:
#Check if two lists have common elements

lst_1 =[1,2,3,4]
lst_2 =[4,5,2,1]
set(lst_1) & set(lst_2)

{1, 2, 4}

In [ ]:
# Remove duplicates from a list using set
lst =[1,2,3,4,5,2,6,1]
unique =set(lst)
print(unique)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Find symmetric difference

a ={1,2,3,3}
b={1,8,9,8}
diff =a^ b
print(diff)

{2, 3, 8, 9}

In [ ]:
#In Python, a function can return multiple values by separating them with commas. Technically, Python packs those values into a tuple.

#Example 1: Returning two values

def calculate(a,b):
  add = a+b
  mul =a*b
  return add,mul
result =calculate(2,3)
print(result)

(5, 6)

In [ ]:
#Unpacking multiple returns

def calculate(a,b):
  add = a+b
  mul =a*b
  return add,mul
add,mul =calculate(2,3)
print(add)
print(mul)

5
6

In [ ]:
#Example 3: Returning 3+ values

def student_details():
    return "Alice", 22, "Data Science"

name, age, course = student_details()
print(name)   # Alice
print(age)    # 22
print(course) # Data Science

Alice
22
Data Science

Dictionaries

A dictionary is a collection of key-value pairs.

Keys must be unique and immutable (like string, number, tuple).

Values can be any type.

In [ ]:
dic ={"name":"Revu",
      "age" :29,
      "job":"Data Scientist"}
print(dic)

{'name': 'Revu', 'age': 29, 'job': 'Data Scientist'}

In [ ]:
dic["name"]

'Revu'

In [ ]:
# .get() is safer than [] because it won’t give an error if the key doesn’t exist.
print(dic.get("age"))

29

Method	Description

.keys(): Returns all keys     

.values():	Returns all values

.items() : Returns key-value pairs as tuples

.update()	: Adds or updates key-value pairs

del dict[key]	: Deletes a key-value pair

In [ ]:
dic.keys()

dict_keys(['name', 'age', 'job'])

In [ ]:
dic.values()

dict_values(['Revu', 29, 'Data Scientist'])

In [ ]:
dic.items()

dict_items([('name', 'Revu'), ('age', 29), ('job', 'Data Scientist')])

In [ ]:
dic.update({"age":28})
print(dic)

{'name': 'Revu', 'age': 28, 'job': 'Data Scientist'}

In [ ]:
del dic['name']

In [ ]:
print(dic)

{'job': 'Data Scientist'}

Why dictionaries are useful for Data Science

Counting occurrences (word frequency, value counts).

Storing JSON-like data.

Quick lookups by key (e.g., student ID → marks).

In [ ]:
f ={2,2}

In [ ]:
print(type(f))

<class 'set'>

In [ ]:
my_dict ={"name":"Revu","age":28,"job" :"data scientist"}

my_dict.get("name")

'Revu'

In [ ]:
#Count frequency of words in a string

sentence ="data science is fun and data is powerful"
words= sentence.split()
my_dict ={}
for i in words:
  my_dict[i]= my_dict.get(i,0)+1
print(my_dict)

{'data': 2, 'science': 1, 'is': 2, 'fun': 1, 'and': 1, 'powerful': 1}

In [ ]:
my_dict ={}
words ="data"
my_dict[words] =1
print(my_dict)

{'data': 1}

In [ ]:
my_dict1 ={}
words ="data"
my_dict1["words"] =1
print(my_dict1)

{'words': 1}

In [ ]:
#2. Sort dictionary by value

scores = {"Alice": 90, "Bob": 75, "Charlie": 85}

sorted_keys = sorted(scores, key=scores.get, reverse=True)
sorted_scores = {k: scores[k] for k in sorted_keys}

print(sorted_scores)

{'Alice': 90, 'Charlie': 85, 'Bob': 75}

In [ ]:
#2. Sort dictionary by key
scores = {"Alice": 90, "Bob": 75, "Charlie": 85}

sorted_scores = dict(sorted(scores.items()))   # Default: sorts by keys
print(sorted_scores)

{'Alice': 90, 'Bob': 75, 'Charlie': 85}

In [ ]:
#Merge two dictionaries

dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

merged = {**dict1, **dict2}  # dict2 values overwrite dict1
print(merged)  # {'a': 1, 'b': 3, 'c': 4}

In [ ]:
# Invert dictionary (keys ↔ values)
my_dict = {"a": 1, "b": 2, "c": 3}
inverted = {v: k for k, v in my_dict.items()}
print(inverted)  # {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
#Find key with max value
my_dict = {"Alice": 90, "Bob": 75, "Charlie": 85}
max_key = max(my_dict, key=my_dict.get)
max_value =my_dict[max_key]
print(max_key,max_value)

Alice 90

#A function is a block of code that you can reuse.
#It can take inputs (parameters) and return outputs.

In [ ]:
#Syntaxs
'''def function_name(parameters):
    # code
    return value''''

In [ ]:
def add(a,b):
  return a+b

add(2,3)

5

In [ ]:
# Default Arguments

def greet(name ="guest"):
  print("hello",name)

In [ ]:
greet("Revu")

hello Revu

In [ ]:
#args (Arbitrary positional arguments)
#Use *args when you don’t know how many inputs will be passed.

def add_all(*args):
  return sum(args)

In [ ]:
add_all(2,3,4,5)

14

In [ ]:
#kwargs (Arbitrary keyword arguments)
#Use **kwargs when you want to pass named arguments dynamically.

In [ ]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)

print_info(name="Alice", age=25)

name : Alice
age : 25

In [ ]:
#A function can return more than one value (actually as a tuple).
def add_mul(a,b):
  return a+b,a*b
sum_value, mul_value =add_mul(2,3)


print(sum_value, mul_value)

5 6

In [ ]:
# lambda Functions
#Short, one-line functions without a name.

add =lambda a,b :a+b
add(2,5)

7

In [ ]:
square =lambda x:x*x
square(5
       )

25

In [ ]:
div = lambda a,b :a/b
div(65,2)

32.5

In [ ]:
#Higher-Order Functions
#Functions that take other functions as arguments.
def apply_func(x, func):
    return func(x)

print(apply_func(5, lambda x: x*2))

10

In [ ]:
def apply_funct(x,func):
  return func(x)
def double(x):
  return x**2

apply_funct(5,double)

25

In [ ]:
#Recursive Functions
#Function calling itself.

#Always have a base case to stop recursion.

def fact(n):
  if n<0:
    return "fact not defined"
  elif n==0 or n==1:
    return 1
  elif n==2:
    return 2
  else:
    return n*fact(n-1)

In [ ]:
fact(5)

120

In [ ]:
# Write a function is_prime(n) that checks if a number is prime. Then, use this function to filter out all prime numbers from a given list of integers.
#Input: [10, 15, 17, 23, 28, 31]
#Output: [17, 23, 31]

def is_prime(n):
  if n<2:
    return "prime not defined"
  for i in range(2,int(n**0.5)+1):
    if n%i ==0:
      return False
  return True


num =[10, 15, 17, 23, 28, 31]
primes =[i for i in num if is_prime(i)]
print(primes)

[17, 23, 31]

In [ ]:
#Write a function that takes a list of numbers and returns minimum, maximum, and average in one call.

def stat(numbers):
  minimum =min(numbers)
  maximum =max(numbers)
  average =sum(numbers)/len(numbers)
  return minimum,maximum,average
numbers =[2,3,4,5]

stat(numbers)

(2, 5, 3.5)

In [ ]:
#Given a list of tuples containing student names and their scores:
# students = [("Alice", 85), ("Bob", 72), ("Charlie", 90)]

students = [("Alice", 85), ("Bob", 72), ("Charlie", 90)]
sorted_students = sorted(students, key = lambda x :x[1], reverse=True)
print(sorted_students)

[('Charlie', 90), ('Alice', 85), ('Bob', 72)]

In [ ]:
#Extract only the student names using map
names = list(map(lambda x: x[0], students))

In [ ]:
#👉 Write a higher-order function apply_operation(numbers, func) that applies a given function to each number in a list.

#Test it with a square function and a cube function.

def apply_operation(numbers,func):
  return [func(x) for x in numbers]

def square(x):
  return x**2
def cube(x):
  return x * x *x

numbers =[5, 8 ,7, 9]
apply_operation(numbers, square)
apply_operation(numbers, cube)

[125, 512, 343, 729]

In [ ]:
apply_operation(numbers, square)

[25, 64, 49, 81]

In [ ]:
#Write recursive functions for:

'''Factorial of a number

Fibonacci sequence up to n terms'''


def fact(n):
  if n<0:
    return "fact not defined for a negative number"
  elif n==0 or n ==1:
    return 1
  elif n==2:
    return 2
  else:
    return n*fact(n-1)

In [ ]:
#Compare recursion vs loop (time & space complexity). Which one is more efficient for large numbers? Why? ----interview question

In [ ]:
fact(5)

120

#File Handling in Python
In Python, files are handled in 3 steps:

Open the file

Read/Write/Append (do something with it)

Close the file

Common file modes:

"r" → read (file must exist)

"w" → write (creates new file or overwrites existing)

"a" → append (adds to existing file)

"r+" → read & write

"x" → create new file (error if exists)

In [ ]:
f = open("HR.txt", "r")  #Read mode
content =f.read()
print(content)

“I developed a strong interest in data and machine learning during my time as an Assistant Professor, which led me to upskill in Python, ML, SQL, and Power BI. Now, I want to apply these skills to solve real-world business problems and grow my career as a Data Scientist.”

Why do we need f.close()?

When you open() a file, Python creates a connection between your program and the file on your computer.

If you don’t close() it:

The file stays open in memory.

It may cause memory leaks or prevent other programs from using that file.

On some systems, data may not be saved properly until you close it.

So, always close the file after you’re done.

In [ ]:
f =open("text.txt","w")
f.write("Hello Revu")
f.close()

In [ ]:
f = open("output.txt", "w")
f.write("Hello Data Science!")
f.close()

In [ ]:
f=open("output.txt","a")
f.write("\n adding another line")

f.close()

In [ ]:
f = open("output.txt", "r")
conte =f.read()
print(conte)
f.close()

Hello Data Science!
 adding another line

Using with open (Best Practice)

You don’t need f.close() manually:

In [ ]:
with open("HR.txt","r") as f:
  content =f.read()
print(content)

“I developed a strong interest in data and machine learning during my time as an Assistant Professor, which led me to upskill in Python, ML, SQL, and Power BI. Now, I want to apply these skills to solve real-world business problems and grow my career as a Data Scientist.”

In [ ]:
#Can you read a CSV without pandas?
#Yes, we can use Python’s built-in csv module. For example, csv.reader gives rows as lists and csv.DictReader gives rows as dictionaries.
import csv
with open("data.csv","r") as f:
  reader =csv.reader(f)
  for row in reader:
    print(row)

In [ ]:
#Read file and count words

with open("HR.txt","r") as f:
  text =f.read()
  words =text.split()
  count= len(words)
  print(count)

49

In [ ]:
#Write even numbers to a file

with open("even.txt","w") as f:
  for i in range(1,20):
    if i%2==0:
      f.write(str(i)+ "\n")

In [ ]:
#Copy content from one file to another.
with open("HR.txt","r") as f1:
  content =f1.read()

with open("text.txt","w") as f2:
  f2.write(content)

#Exceptions in Python
An exception is an error that occurs during program execution.
Python has built-in exceptions like ZeroDivisionError, FileNotFoundError, ValueError, etc.

Using exception handling, we can prevent the program from crashing.

In [ ]:
#try and except
try:
  x =10/0
except ZeroDivisionError:
  print("cannot divide by zero")

#try: Code that may cause an exception
#except: Code to handle the exception

cannot divide by zero

In [ ]:
#Handling Multiple Exceptions
try:
    x =int(input("enter the number: "))
    y =10/x
except ZeroDivisionError:
    print("cannot divide by zero")
except ValueError:
    print("Enter a number")

enter the number: a
Enter a number

In [ ]:
#Finally Block
try:
  f =open("HR.txt","r")
  content =f.read()
except FileNotFoundError:
  print("file not found")

finally:
  print("This will always execute")

#finally always executes, even if there’s an exception. Useful to close files or release resources.

file not found
This will always execute

In [ ]:
#Raising Custom Exceptions
#You can create custom error messages for your rules.

age =int(input("enter the age: "))
if age<=0:
  raise ValueError("age cannot be negative")

##How do you handle exceptions in Python?

In Python, I handle exceptions using try-except blocks. I put the code that might raise an error inside a try block and handle specific errors in the except block. This prevents the program from crashing and allows me to provide meaningful messages or take corrective action. I can also use finally to execute code regardless of whether an exception occurs.

##How do you validate user input or dataset values?

I validate input or dataset values by checking data types, ranges, or conditions, and using exception handling for unexpected values. This ensures that my data is clean and prevents runtime errors when processing or modeling.

In [ ]:
# eg: How do you validate user input or dataset values?
try:
    age = int(input("Enter age: "))
    if age < 0:
        raise ValueError("Age cannot be negative!")
except ValueError as e:
    print("Invalid input:", e)

In [ ]:
#Divide by Zero Handling

try:
  a =int(input("enter the number: "))
  b =int(input("enter the number: "))
  print("result", a/b)
except ZeroDivisionError:
  print("cannot divide by zero")

enter the number: 5
enter the number: 0
cannot divide by zero

#Object Oriented Programming is a fundamental concept in Python, empowering developers to build modular, maintainable, and scalable applications.

#OOP Concepts in Python

Class in Python

Objects in Python

Polymorphism in Python

Encapsulation in Python

Inheritance in Python

Data Abstraction in Python


#OOP (Object-Oriented Programming) is a way of structuring code using classes and objects.
Class → A blueprint (like a plan of a house).

Object → An actual thing built from that blueprint (like your real house).

In [ ]:
#Step 1: Creating a Class

#In Python, you define a class using the class keyword.

# A simple class

class car:
  #properties or variables
  brand ="Tesla"
  color ="Red"

  #methods(functions inside a class)
  def drive(self):
    print("The car is driving")

In [ ]:
#creating objects
car1 =car()
car2 =car()
print(car1.brand)
print(car2.color)
car1.drive()

Tesla
Red
The car is driving

In [ ]:
#Step 3: Using __init__ (Constructor)
#We usually want to give each object its own unique values.
#For that, we use the constructor method __init__.

class car:
  # constructor method (runs automatically when object is created)
  def __init__(self,brand,color):
    self.brand =brand
    self.color =color
  #methods
  def drive(self):
    print(f"{self.brand} is driving and its color is {self.color}")

In [ ]:
car1 =car("Tesla","white")
car1.drive()

Tesla is driving and its color is white

In [ ]:
car2=car("honda","red")
car2.drive()

honda is driving

In [ ]:
car2.color

'red'

#Encapsulation in Python
Encapsulation = binding (wrapping) data + methods together in one unit (class).

It also means restricting direct access to data, so it cannot be modified carelessly.

Think of it like a capsule medicine → all ingredients are hidden inside, only outer shell is visible.

Internal details of an object is hidden from outside world.

private =2__ , private properties cant access directly.
protected=1_

#Why Encapsulation? (Interview Style Answer)

To protect data from accidental changes.

To control how data is accessed/modified (using methods).

To make code more secure and organized.

In [ ]:
#Example: Without Encapsulation ❌
class BankAccount:
    def __init__(self, balance):
        self.balance = balance   # public variable

account = BankAccount(1000)
print(account.balance)  # Anyone can see balance

account.balance = -500  # ❌ Wrong update (no control)
print(account.balance)  # -500 (invalid!)

In [ ]:
#Example 1: Simple Encapsulation

""" In Python, we can make a variable private (hidden) by using __ (double underscore).
This way, no one can directly access or modify it outside the class."""

class BankAccount1:
  def __init__(self,balance):
    self.__balance =balance #private variable

  def show_balace(self):
    print(f"your balance is {self.__balance}")

In [ ]:
# create object
account = BankAccount1(1000)

# access using method
account.show_balace()   # ✅ Your balance is 1000

# try direct access
# print(account.__balance)  # ❌ Error: can't access directly

""" __balance is encapsulated (hidden).

You can only see it through the show_balance() method."""

your balance is 1000

' __balance is encapsulated (hidden).\n\nYou can only see it through the show_balance() method.'

In [ ]:
#Example 2: Protected Variable (not strictly private)
class Student:
    def __init__(self, name, marks):
        self._name = name      # protected (just a convention)
        self._marks = marks

    def display(self):
        print(f"{self._name} scored {self._marks} marks")

s = Student("Ravi", 85)
s.display()   # ✅ Ravi scored 85 marks

print(s._name)   # ⚠️ Works, but not recommended

In [ ]:
#Example: Protected + Private Together
class Student:
    def __init__(self, name, marks):
        self._name = name        # protected (convention: "should not access directly")
        self.__marks = marks     # private (cannot access directly outside class)

    def display(self):
        print(f"{self._name} scored {self.__marks} marks")

s = Student("Ravi", 85)
s.display()      # ✅ Ravi scored 85 marks

print(s._name)   # ⚠️ Accessible, but not recommended
# print(s.__marks)  # ❌ Error: private, cannot access directly

Ravi scored 85 marks
Ravi

#
Access Levels in Python

Public: normal variable → self.name

Protected: _name → (just a convention, not enforced)

Private: __name → Python does name mangling, so it’s harder to access directly. Only using method/functions

In [ ]:
class Student:
    def __init__(self, name, roll):
        self.name = name         # public
        self._roll = roll        # protected (convention)
        self.__marks = 90        # private

s = Student("Rahul", 101)

print(s.name)    # ✅ Public → accessible
print(s._roll)   # ⚠️ Technically accessible, but should avoid
# print(s.__marks) ❌ Error (private)

Rahul
101

##Getter and Setter in Encapsulation
Getter Method → A method that is used to access (get) the value of a private variable safely.

Setter Method → A method that is used to modify (set) the value of a private variable safely.

Why Use Them? (Interview Answer)

To control access to private variables.

To validate data before updating (e.g., deposit must be positive).

To follow OOP best practices (data hiding + controlled access).

👉 If an interviewer asks “Why do we need getter & setter if we can access variables directly?”

You can answer:

✅ Because getters and setters allow us to add validation and keep the data safe.

Direct access can lead to invalid or corrupted data.

In [ ]:
#Case 2: With Getter & Setter
# Case 2: With Getter & Setter
class BankAccount2:
    def __init__(self, balance):
        self.__balance = balance   # 🔒 private variable

    # Getter method
    def get_balance(self):
        return self.__balance

    # Setter method
    def set_balance(self, amount):
        if amount < 0:
            print("❌ Balance cannot be negative!")
        else:
            self.__balance = amount
            print("✅ Balance updated successfully")

# Example usage
acc = BankAccount2(5000)

print(acc.get_balance())   # 5000

acc.set_balance(-1000)     # ❌ Balance cannot be negative!
print(acc.get_balance())   # 5000

acc.set_balance(8000)      # ✅ Balance updated successfully
print(acc.get_balance())   # 8000

5000
❌ Balance cannot be negative!
5000
✅ Balance updated successfully
8000

4. How to Explain in Interview

If interviewer asks:
👉 “Explain getter and setter in encapsulation with an example.”

You can say:

🔹 In encapsulation, we make variables private using __. To access them, we use getter methods, and to modify them, we use setter methods.
🔹 This ensures that data is always safe and valid.
🔹 For example, in a bank account, balance should not be directly modified. Instead, we use a getter to check balance and a setter to deposit money safely.

#Inheritance in Python
1. What is Inheritance?

Definition: Inheritance is when one class (child) reuses the properties and methods of another class (parent).

Real life example:

Suppose you have a general class Vehicle (with wheels, engine, start/stop).

A Car and a Bike are both Vehicles, so they inherit those properties but also add their own features.

👉 This avoids code duplication and promotes reusability.

2. Why Inheritance? (Interview Answer)

Code Reusability – write once, use in many classes.

Hierarchy Representation – natural parent-child relationships (Employee → Manager).

Extensibility – child class can add new features or modify parent’s.

In [ ]:
#Basic Syntax

class Employee:
  def __init__(self,name,salary):
    self.name =name
    self.salary=salary

  def display(self):
    print(f"{self.name} and {self.salary}")

class manager(Employee):
  pass

In [ ]:
emp1 =manager("Revu",80000)
emp1.display()

Revu and 80000

In [ ]:
# Adding properties and methods to a child class

class Employee:
  def __init__(self,name,salary):
    self.name =name
    self.salary =salary

  def show_details(self):
    print(f" {self.name} and {self.salary}")

class Manager(Employee):  #creating a child class Manager from the parent class Employee
  def __init__(self,name,salary,department):  # Adding a property "department" into the child class
    Employee.__init__(self,name,salary)    # Calling the parent class constructor to get name and salary
    self.department =department
    self.team_size =0   # creating "team_size" for later use

  def display(self):
     print(f" {self.name} is managing a {self.team_size} team members")

In [ ]:
manager1 =Manager("Revu",80000,"Data Science")
manager1.team_size =5
manager1.display()
manager1.show_details()

 Revu is managing a 5 team members
 Revu and 80000

4. Types of Inheritance in Python

Python supports 5 types of inheritance:

Single Inheritance (One parent → One child)

Multiple Inheritance (Child inherits from many parents)

Multilevel Inheritance (Grandparent → Parent → Child)

Hierarchical Inheritance (One parent → Many children)

Hybrid Inheritance (Combination of above)

# What is Method Overriding?

Overriding means:
A child class (subclass) provides its own version of a method that is already defined in the parent class (superclass).

This is useful when the child class needs different behavior for the same method name.

In [ ]:
class animals:
  def __init__(self,name,color):
    self.name =name
    self.color =color

  def display(self):
    print(f"{self.name} and {self.color}")

class dog(animals):
  pass
  def display(self):
    print("dogs")

In [ ]:
d =dog("tiger","yellow")
d.display()   # Here overriding

dogs

Why do we need super()?

Imagine you are inheriting some functionality from your parent class, but you want to add extra behavior, not completely replace it.

Without super(), if you override a method, the parent method gets ignored.
With super(), you can extend the parent’s method instead of replacing it fully.

In [ ]:
# Using super() function and creating 2 classes from one parent class
class Employee:
  def __init__(self,name,salary):
    self.name=name
    self.salary=salary

  def show_details(self):
    print(f"{self.name} and {self.salary}")

class Manager(Employee):
  def __init__(self,name,salary,department):
       super().__init__(name,salary)  #calls the parent constructor so that Employee can set up self.name and self.salary.
       self.department =department
  def show_details(self):
     super().show_details()   #calls the parent’s version → prints Name and Salary.
     print(f" Department = {self.department}") # Then, it will execute this and print department.


class developer(Employee):
  def __init__(self,name,salary,programming_language):
    super().__init__(name,salary)
    self.programming_language =programming_language

  def show_details(self):
     super().show_details()
     print(f" programming language = {self.programming_language}")

In [ ]:
manager1 = Manager("Revu",100000,"DS")
manager1.show_details()

Revu and 100000
 Department = DS

In [ ]:
deveoper1=developer("revu",80000,"python")
deveoper1.show_details()

revu and 80000
 programming language = python

In [ ]:
# MMultiple Inheritance (Child inherits from many parents)

class person:
  def __init__(self,name):
    self.name =name

  def show_name(self):
    print(f"the name is {self.name}")

class employee:
  def __init__(self,salary):
    self.salary =salary

  def show_salary(self):
    print(f" the salary is {self.salary}")

class Manager(person, employee):
  def __init__(self,name,salary):
    person.__init__(self,name)
    employee.__init__(self,salary)

  def show_details(self):
    self.show_name()
    self.show_salary()

In [ ]:
manager =Manager("revu",10000)
manager.show_details()

the name is revu
 the salary is 10000

Polymorphism in Python
1. What is Polymorphism?

Poly = many, Morphism = forms → “many forms”.

Same function/method name can work in different ways depending on the context.

👉 Example in real life:

A person can be a student at college, a customer at a shop, and a child at home.

Same person, different roles → polymorphism.

2. Why Polymorphism? (Interview Answer)

To make code flexible.

To allow the same interface (function name) to work for different objects.

To follow the principle of “one function, multiple behaviors.”

3. Types of Polymorphism in Python

Duck Typing (Python-specific)

Operator Overloading

Method Overloading (limited in Python)

Method Overriding (in inheritance)

In [ ]:
# Method Overriding -polymorphism example
#This code demonstrates polymorphism in Python.
#he base class shape defines a general perimeter method.
#It has a method perimeter() but with pass (no implementation).
#This is like saying: “Every shape must have a perimeter method, but I won’t define it here.”
#Each subclass (circle, rectangle, triangle) implements its own version. The function print_perimeter() can accept any object with a perimeter()

class shape:
  def perimeter(self):
    pass

class circle(shape):
  def __init__(self,radius):
    self.radius =radius
  def perimeter(self):
     return 2*3.14*self.radius

class rectangle(shape):
  def __init__(self,length,width):
    self.length =length
    self.width =width

  def perimeter(self):
     return 2 * (self.length + self.width)

class traingle(shape):
  def __init__(self,side1,side2,side3):
    self.side1 =side1
    self.side2 =side2
    self.side3 =side3

  def perimeter(self):
    return self.side1 +self.side2 +self.side3

def print_perimeter(shape):
  print(f" the perimeter is {shape.perimeter()}")

In [ ]:
cir =circle(5)
rec =rectangle(2,5)
tria =traingle(2,3,5)

print_perimeter(cir)
print_perimeter(rec)
print_perimeter(tria)

 the perimeter is 31.400000000000002
 the perimeter is 14
 the perimeter is 10

1. Abstract Class

Think of an abstract class as a blueprint.

It defines what needs to be done but not how it will be done.

It can have abstract methods (methods with no implementation).

#You cannot create objects from an abstract class directly.

👉 In Python, abstract classes are created using abc (Abstract Base Class) module.

2. Concrete Class

A concrete class is the actual building made from the blueprint.

It provides the real implementation of the abstract methods.

You can create objects from concrete classes.

🚗 Analogy (Cars & Driving License)

Imagine a Driving License Test system.

Abstract Class → Vehicle

A "Vehicle" is a general idea (cars, bikes, buses are all vehicles).

But you cannot drive a "generic vehicle", because it doesn’t exist in reality.

It just says: every vehicle must have a way to start and drive.

In [ ]:
from abc import ABC, abstractmethod

class Employee(ABC):
  def __init__(self,name, employee_id):
    self.name =name
    self.employee_id =employee_id

  @abstractmethod
  def calculate_salary(self):
    pass

  @abstractmethod
  def get_full_info(self):
    pass

  def get_basic_info(self):
    print(f"name = {self.name} and id ={self.employee_id}")


class FullTimeEmployee(Employee):
  def __init__(self,name,employee_id,salary):
    super().__init__(name,employee_id)
    self.salary =salary

  def calculate_salary(self):
     return f" salary ={self.salary}"
  def get_full_info(self):
     return f" name ={self.name} , id ={self.employee_id} and salary ={self.salary}"


class PartTimeEmployee(Employee):
  def __init__(self,name,employee_id,hourly_wage,hours_worked):
    super().__init__(name,employee_id)
    self.hourly_wage =hourly_wage
    self.hours_worked=hours_worked

  def calculate_salary(self):
    total_salary = self.hours_worked * self.hourly_wage
    return f" Total salary ={total_salary}"
  def get_full_info(self):
     return f"name ={self.name} , id ={self.employee_id}"

In [ ]:
full_time_emp = FullTimeEmployee("revu",5,100000)
part_time_emp =PartTimeEmployee("teju",8,50000,10)

full_time_emp.calculate_salary()

' salary =100000'

In [ ]:
part_time_emp.calculate_salary()

' Total salary =500000'

In [ ]:
part_time_emp.get_full_info()

'name =teju , id =8'

What are Magic Methods?

Magic methods are special methods in Python that start and end with double underscores → __methodname__.

They are also called dunder methods (“double underscore”).

Python uses them behind the scenes to perform common operations.

In [ ]:

#When you write 5 + 3, Python internally calls int.__add__(5, 3).

#When you print an object, Python internally calls its __str__() method.

#So, magic methods let you customize how objects behave with operators, printing, comparisons, etc.

In [ ]:
#Common Magic Methods
# __init__ → Constructor
#Runs when you create an object.

class Student:
    def __init__(self, name):
        self.name = name

s = Student("Ravi")   # calls __init__
print(s.name)         # Ravi

Ravi

In [ ]:
#__str__ → String Representation
#Controls what print(object) shows.

class Student:
    def __init__(self, name):
        self.name = name

    def __str__(self):
       return f"Student name is {self.name}"

s = Student("Ravi")
print(s)   # Student name is Ravi
#Without __str__, it would print something ugly like <__main__.Student object at 0x...>.

Student name is Ravi

In [ ]:
# Adding Objects

class Money:
  def __init__(self,amount):
    self.amount =amount

  def __add__(self,other):
    return Money(self.amount +other.amount)

  def __str__(self):
    return f" the total amount : {self.amount}"


m1 =Money(20)
m2 =Money(25)

print(m1+m2)

 the total amount : 45

In [ ]:
class Student:
    def __init__(self, marks):
        self.marks = marks

    def __lt__(self, other):
        return self.marks < other.marks

s1 = Student(100)
s2 = Student(92)
print(s1 < s2)

False

In [ ]:
class Student:
    def __init__(self, marks):
        self.marks = marks

    def __gt__(self, other):
        return self.marks > other.marks

s1 = Student(100)
s2 = Student(92)
print(s1 > s2)

True

In [ ]:
class Student:
    def __init__(self, marks):
        self.marks = marks

    def __lt__(self, other):   # <
        return self.marks < other.marks

    def __le__(self, other):  # <=
        return self.marks <= other.marks

    def __eq__(self, other):  # ==
        return self.marks == other.marks

    def __gt__(self, other):  # >
        return self.marks > other.marks

    def __ge__(self, other):  # >=
        return self.marks >= other.marks
s1 = Student(85)
s2 = Student(92)

print(s1 < s2)   # True
print(s1 > s2)   # False
print(s1 == s2)  # False
print(s1 != s2)  # True
print(s1 <= s2)  # True
print(s1 >= s2)  # False

True
False
False
True
True
False

In [ ]:
# Operator overloading for Custom Object
class CustomString:
  def __init__(self,value):
    self.value =value

  def __add__(self,other):
    if isinstance(other,(int,float)):
      return CustomString(self.value + str(other))   #here other is the value itself, so no need of other.value
    elif isinstance(other,str):
      return CustomString(self.value + other)   # here other is the value itself, so no need of other.value
    elif isinstance(other, CustomString):     # if b is a class object
      return CustomString(self.value +other.value) # other.value is used to get the value inside the object
    else:
      return  NotImplemented

  def __str__(self):
    return f"{self.value}"

a = CustomString("Average mark: ")
b = 10
result =a +b
print(result)

Average mark: 10

In [ ]:
class BankAccount:
  def __init__(self,name,balance):
    self.name =name
    self.balance =balance

  def __add__(self,other):
    return BankAccount("combined",self.balance +other.balance)

  def __sub__(self,amount):
    if amount> self.balance:
      print("insufficient balance")
      return self
    return BankAccount("balance", self.balance -amount)

  def __str__(self):
    return f"{self.balance}"

acc1 =BankAccount("Rajeev",1000)
acc2 =BankAccount("Rajeev",500)
result = acc1+acc2
balance = result -200
print(balance)

1300

In [ ]:
# Duck Typing

#In Python, you don’t need to tell the program the type of an object.
#Python only cares about whether the object can do what you ask it to do.

class Duck:
    def quack(self):
        print("Quack! Quack!")

class Person:
    def quack(self):
        print("I can quack too!")

def make_it_quack(creature):
    creature.quack()  # Python only cares that 'creature' can quack

d = Duck()
p = Person()

make_it_quack(d)  # Quack! Quack!
make_it_quack(p)  # I can quack too!

#make_it_quack doesn’t care whether the object is a Duck or a Person.
#It only cares that the object has a .quack() method.
#This is duck typing: behavior matters, not the type.

In [ ]:
#credit Card Payment vs Direct Cash Payment

class CreditCardPay:
  def __init__(self,amount):
    self.amount =amount

  def pay(self):
    print(f" {self.amount} paid using credit card")

class CashPayment:
  def __init__(self,amount):
    self.amount =amount

  def pay(self):
    print(f" {self.amount} paid directly")

def payment(payment_method):  #Function to process payment
  payment_method.pay()  #  # Duck typing: we only care that the object has a .pay() method

credit_card =CreditCardPay(500)
cash = CashPayment(600)

payment(credit_card)
payment(cash)

 500 paid using credit card
 600 paid directly

In [ ]:
# Method Overloading
#Method Overloading is when you have multiple methods in the same class with the same name but different parameters (different number or types of arguments).

#a) Using Default Arguments
class MathOps:
    def add(self, a, b, c=0):
        return a + b + c

obj = MathOps()
print(obj.add(2, 3))      # Output: 5
print(obj.add(2, 3, 4))   # Output: 9

5
9

In [ ]:
#b) Using Variable-Length Arguments (*args)
class MathOps:
    def add(self, *args):
        return sum(args)

obj = MathOps()
print(obj.add(2, 3))       # Output: 5
print(obj.add(2, 3, 4, 5)) # Output: 14

5
14

#Iterators
Beginner-Friendly Explanation of Iterators

Think of a queue in a canteen 🍲:

Students stand in a line.

You don’t need to see the whole queue at once.

You just say: “Next student, please!”

One by one, each student comes forward.

When the line ends, nobody is left → stop.

👉 That’s exactly what an iterator does in Python:
It gives you items one at a time, without showing or storing the whole collection at once.

#Why is this useful?

Saves memory: You don’t keep everything in memory, just the current item.

Good for large data: e.g., reading a big CSV file row by row.

Works nicely with loops (for, while).

In [11]:
lst =[1,2,8,9,10]
iterator_lst = iter(lst)  #make an iterator

In [ ]:
next(iterator_lst)
#iter(numbers) creates an iterator from the list.
#next(it) fetches the next item.
#When items are finished, Python raises StopIteration.

#An iterator in Python is like a queue in a canteen — you get one item (student/row/value) at a time using next().
#You don’t need to load everything at once, which makes it memory efficient and useful for big datasets.

In [18]:
# using try except to avoid creating error.
try:
    print(next(iterator_lst))
except StopIteration:
    print("There are no elements in the iterator")

There are no elements in the iterator

In [20]:
# String iterator
my_string = "Hello"
string_iterator = iter(my_string)

print(next(string_iterator))  # Output: H
print(next(string_iterator))  # Output: e

H
e

In [26]:
# String iterator
my_string = "Hello"
string_iterator = iter(my_string)

next(string_iterator)  # Output: H

'H'

#iterators (using iter() and next())

Any collection (like a list) can give you an iterator if you call iter() on it.

Then you use next() to get values one by one.

To make an iterator, you need an iterable (like a list) or you need to write a class with __iter__ and __next__.

# Generators (using yield)

A generator is like a shortcut to create an iterator.

You use yield inside a function, and Python automatically gives you an iterator.

A generator is itself an iterator (so you can use next() on it).

But instead of storing data in advance (like a list), it creates values on the fly using yield.

In [27]:
#generator

def my_generator():
    yield 10
    yield 20
    yield 30

gen = my_generator()

print(next(gen))  # 10
print(next(gen))  # 20
print(next(gen))  # 30

10
20
30

In [28]:
##### Practical Example: Reading Large Files
#Generators are particularly useful for reading large files because they allow you to process one line at a time without loading the entire file into memory.

def read_large_file(file_path):
    with open(file_path,'r') as file:
        for line in file:
            yield line

In [ ]:
file_path='text.txt'

for line in read_large_file(file_path):
    print(line.strip())

In [1]:
# Function copy
#In Python, functions are objects — just like numbers, strings, or lists.
#That means you can copy a function by assigning it to another variable.

def greet():
    print("Hello!")

say_hello = greet   # copy function reference
say_hello()         # works the same as greet()

#say_hello is just another name (a copy of the function reference).

#Both greet() and say_hello() point to the same function.

Hello!

# Closure Function
Structure of a Closure

A closure is formed when:

We have a nested function (function inside another function).

The inner function uses variables from the outer function.

The outer function returns the inner function.

In [2]:
def outer_function(msg):
    def inner_function():
        print("Message:", msg)   # inner function remembers 'msg'
    return inner_function   # return inner function (not executed yet)

# Create closure
my_closure = outer_function("Hello Closure!")

# Call inner function
my_closure()   # Output: Message: Hello Closure!

Message: Hello Closure!

# Decorator

A decorator is a special function in Python that allows you to add new functionality to an existing function without changing its code.

How Decorators Work

Decorators use closures internally.

You have an outer function (decorator).

Inside it, you define an inner wrapper function.

The outer function returns the wrapper, which adds extra features.

Syntax uses @decorator_name.

In [3]:
def my_decorator(func):
    def wrapper():
        print("Before function runs")
        func()
        print("After function runs")
    return wrapper

@my_decorator
def say_hello():
    print("Hello, Data Science!")

say_hello()

Before function runs
Hello, Data Science!
After function runs

#List Comprehension
A list comprehension is a shorter way to create lists in Python.
Instead of writing a loop + append, you can build a list in one line.

In [4]:
#Example 1: Squaring numbers (normal way)
squares = []
for i in range(5):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16]

In [6]:
#List comprehension way:
squares =[i**2 for i in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [10]:
# Example 2: Data Cleaning – Removing Nulls
text = ["  apple ", " banana", "cherry  "]
cleaned_data = [x for x in text if x]
print(cleaned_data)

['  apple ', ' banana', 'cherry  ']

In [14]:
text = ["  apple ", " banana", "cHerry  "]

cleaned =[x.strip().lower() for x in text]
print(cleaned)

['apple', 'banana', 'cherry']

In [16]:
#Extract only numeric values
data = ["23", "apple", "42", "banana", "100"]
num =[int(x) for x in data if x.isdigit()]
print(num)

[23, 42, 100]

#Generator Expression

A generator expression is just like a list comprehension, but it uses round brackets () instead of square brackets [].

In [17]:
num =(x**2 for x in range(5))
print(num)

<generator object <genexpr> at 0x7bb1260d8040>

In [18]:
#to accsess num:

for i in num:
  print(i)

# [x*x for x in range(5)] → creates a full list in memory.

# (x*x for x in range(5)) → creates a generator, calculates values only when needed.

0
1
4
9
16

Why Do Data Scientists Care?

Data science often deals with large datasets (millions of rows).

List comprehension: uses more memory (stores everything).

Generator expression: saves memory (generates one by one).



#Q1: Difference between list comprehension and generator expression?

List comprehension → [ ], eager, stores all results in memory.

Generator expression → ( ), lazy, produces one value at a time.


#Q2: When to prefer generator expression?

When data is large (big files, streams, millions of records).

When you don’t need to store everything at once.

In [21]:
#Can you use generator expressions with functions like sum() or max()?

num =(i for i in range(1,10))
total =sum(num)

print(total)

45

Local scope → inside a function or block

Global scope → outside all functions (accessible anywhere in the file)

In [28]:
x =4  # global variable
def func():
    y = 5  # local
    print(y)  # accessing local varaible inside function, which is possible
    print(x)  # accessing global varaible inside function, which is possible

func()      # 5
#print(y)  # ❌ NameError, accessing local varaible outside function, which is not possible

5
4